

<ion-grid>
  <ion-row>
    <ion-col size="11" class="ion-text-right">
            <img src="../../../assets/eule.png" id="eule" >

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
        <ion-footer>
            <ion-toolbar>
              <ion-grid class="landingPage">
                <ion-row>
                  <ion-col size="1">
                      <img src="../../../assets/prototypefund.svg" alt="Prototype Fund Logo" id="prototypefundLogo">
                  </ion-col>
                  <ion-col size="5">
                    <ion-text>
                      <p>Das Projekt owlly wird unterstützt vom Prototype Fund,
                          eine gemeinsame Initiative von Opendata.ch und des Programms
                          „Digitalisierung + Gesellschaft“ der Stiftung Mercator Schweiz.</p>
                    </ion-text>
                  </ion-col>
                  <ion-col size="6">
                    <div class="ion-text-right" id="bureaucracy">
                        <a href="#">Disclaimer</a> | <a href="#">Impressum</a>
                        <p>© 2020 liitu gmbh</p>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
          
            </ion-toolbar>
          
          </ion-footer>
    </ion-col>
  </ion-row>
</ion-grid>
