ion-toolbar {
  padding: 0;
}

ion-col {
  padding: 0px;
}

.goals {
  margin: 20px;
  color: #fff;
  transition: 1s;
  li {
    font-weight: 200;
    font-size: 1.1rem;
  }
  @media (max-width: 768px) {
    li {
      font-size: 0.9rem;
    }
  }
}

#initiativHero {
  max-height: 350px;
  overflow: hidden;
}

#owllyButton {
  padding-top: 20px;
  padding-bottom: 20px;
}

span {
  font-weight: bold;
  text-decoration: underline;
  color: var(--ion-color-tertiary);
}

owlly-sign {
  &:active {
    outline-color: transparent;
  }
}
