<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <a href="/" aria-label="Owlly">
        <ng-container *ngIf="theme$ | async as theme">
          <img [src]="'./assets/logo/owlly-' + theme + '.png'" loading="lazy" aria-label="hidden" />
        </ng-container>
      </a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClick()">
        <!-- <ion-icon slot="start" name="add"></ion-icon> -->
        Kampagne starten
      </ion-button>
      <ion-button (click)="onClick()">
          Unsere Mission
        </ion-button>
        <ion-button (click)="onClick()">
            Über uns
          </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
