<ion-header>
  <ion-toolbar>
    <ion-title>
      <a href="/"><div class="owllyLogo"></div></a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title> Impressum </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>Impressum</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h3>Kontakt-Adresse</h3>
        <p>
          liitu consulting gmbh <br />
          Villenstrasse 4 <br />
          8200 Schaffhausen <br />
          Schweiz <br />
          E-Mail: <a href="mailto:info@liitu.ch">info@liitu.ch</a>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h3>Vertretungsberechtigte Person(en)</h3>
        <p>Sandro Scalco</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h3>Handelsregister-Eintrag</h3>
        <p>
          Eingetragener Firmenname: liitu consulting gmbh <br />
          Handelsregister Nr: CHE-178.036.243
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h3>Haftungsausschluss</h3>
        <p>
          Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der
          Informationen. Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw.
          Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden
          ausgeschlossen. Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne besondere
          Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h3>Haftungsausschluss für Links</h3>
        <p>
          Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche Verantwortung für solche Webseiten
          abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des jeweiligen Nutzers.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h3>Urheberrechte</h3>
        <p>
          Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website, gehören ausschliesslich der Firma liitu
          consulting gmbh oder den speziell genannten Rechteinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung des
          Urheberrechtsträgers im Voraus einzuholen.
        </p>
        <br />
        <p>Quelle: <a href="https://www.swissanwalt.ch/">SwissAnwalt</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

