<ion-content [fullscreen]="true" class="owlly-linear-gradient">
  <app-header></app-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>
          Enabling <br />
          digital democracy.
        </h1>
      </ion-col>
    </ion-row>
    <!-- Leading Text-->
    <ion-row>
      <ion-col size="12" size-md="6">
        <h3>
          owlly ermöglicht das sichere und einfache elektronische Unterschreiben, Validieren und Zählen von Volksbegehren für Kampagnen-Plattformen und bietet
          ein ganzheitliches E-Collecting für die Schweiz.
        </h3>
      </ion-col>
    </ion-row>
    <!-- Newsletter anmelden-->
    <ion-row id="lpButton">
      <ion-col size="12">
        <ion-button (click)="showNewsletter()" class="btn-owlly-newsletter" shape="round" color="tertiary" strong> für Newsletter anmelden </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div id="socialMedia">
          <ion-row>
            <ion-col>
              <a href="https://www.instagram.com/projectowlly/"><img src="../../../assets/socialmedia/instagram.svg" alt="instagram" width="30px" /></a>
            </ion-col>
            <ion-col>
              <a href="https://twitter.com/projectowlly"><img src="../../../assets/socialmedia/twitter.svg" alt="twitter" width="30px" /></a>
            </ion-col>
            <ion-col>
              <a href="https://www.facebook.com/projectowlly"><img src="../../../assets/socialmedia/facebook.svg" alt="facebook" width="30px" /></a>
            </ion-col>
            <ion-col>
              <a href="https://github.com/project-owlly"><img src="../../../assets/socialmedia/github.svg" alt="github" width="30px" /></a>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- End Owlly hero -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="showFeedback()" translucent="true">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="ion-text-right owlly-eule">
    <img src="../../../assets/eule.png" class="owlly-footer" alt="Owlly's Eule" />
  </div>
  <owlly-footer></owlly-footer>
</ion-content>
