#lpTitle {
  font-weight: bold;
  font-size: 4rem;
  color: #ffffff;
}
#lpText {
  color: #000000;
  font-weight: 400;
}

#eule {
  width: 300px;
  position: relative;
  bottom: 200px;
  right: 10%;
  z-index: 100;
}

#socialMedia {
  display: flex;
  width: 150px;
  flex-direction: column;
}

@media (max-width: 768px) {
  #lpTitle {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
  }
  #lpButton {
    text-align: center;
  }
  #socialMedia {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #eule {
    width: 100px;
    bottom: 34px;
  }
}
