//Newsletter Button
#lpButton {
  text-align: left;
}

#eule {
  width: 300px;
  bottom: 200px;
  position: relative;
  right: 10%;
  z-index: 100;
}

#socialMedia {
  display: flex;
  width: 150px;
  flex-direction: column;
}

ion-footer {
  ion-grid {
    --ion-grid-padding: 0px;
  }
  font-size: small;
  #prototypefundLogo {
    height: 50px;
  }
  a {
    text-decoration: none;
  }

  background-color: black;
  color: white;
}

ion-content {
  ion-grid {
    padding-bottom: 200px;
  }
}

/****** SMALL SCREENS *******/
@media (max-width: 768px) {
  //newsletter button
  #lpButton {
    text-align: center;
  }

  #eule {
    width: 100px;
    bottom: 34px;
  }
  ion-footer {
    font-size: xx-small;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #socialMedia {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
