<ion-header>
  <ion-toolbar>
    <ion-title size="small">
      <div class="owllyLogo"></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1 id="lpTitle">
          enabling <br />
          digital democracy.
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6">
        <h3 id="lpText">
          owlly ermöglicht das sichere und einfache elektronische Unterschreiben, Validieren und Zählen von Volksbegehren für Kampagnen-Plattformen und bietet
          ein ganzheitliches E-Collecting für die Schweiz.
        </h3>
      </ion-col>
    </ion-row>
    <ion-row id="lpButton">
      <ion-col size="12">
        <ion-button (click)="showModal()" shape="round" color="tertiary" strong> für Newsletter anmelden </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div id="socialMedia">
          <ion-row>
            <ion-col>
              <a href="https://www.instagram.com/projectowlly/"><img src="../../../assets/icon/instagram.svg" alt="instagram" width="30px" /></a>
            </ion-col>
            <ion-col>
              <a href="https://twitter.com/projectowlly"><img src="../../../assets/icon/twitter.svg" alt="instagram" width="30px" /></a>
            </ion-col>
            <ion-col>
              <a href="https://www.facebook.com/projectowlly"><img src="../../../assets/icon/facebook_margin.png" alt="instagram" width="30px" /></a>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" href="/feedback" translucent="true">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="ion-text-right" style="height: 50px">
    <img src="../../../assets/eule.png" id="eule" alt="Owlly's Eule" />
  </div>

  <app-footer></app-footer>
</ion-content>
