ion-grid{
  //padding-bottom: 200px;
  padding-left: 10%;
  padding-right: 10%;
}
.home-hero-div {
  display: flex;
  flex-direction: row;
  padding: 20px 5% 0px;
  background: #E7E7E8;
  align-self: center;
  justify-content: center;
}
.hero-img {
  width: 700px;
  align-self: baseline;
}
.center {
  text-align: center;
}
.hero-card {
  height: 320px;
  min-width: 500px;
  .hero-card-text {
    color: white;
    padding: 0 20px 70px;;
    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
    h2 {
      font-size: 1rem;
    }
  }
  ion-button {
    padding: 0 20px;
    margin: 0;
  }
  ion-card-content {
    position: absolute;
    bottom: 10px,
  }

}

.underline {
  height: 12px;
  width: 300px;
  margin: 0 11%;
}

.second-card {
  
}

@media (max-width: 1250px) {
  .home-hero-div {
    display: block;
  }
}
