<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Test - owlly </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Test - owlly </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row style="text-align: center">
      <ion-col size="12" class="ion-align-self-center">
        <form [formGroup]="testForm" (ngSubmit)="generatePDF()">
          <ion-list-header >
              <h3>Volksbegehren</h3>
            </ion-list-header>
          <ion-item>
            <ion-label position="floating">Titel <ion-text color="danger">*</ion-text> </ion-label>
            <ion-input required formControlName="title" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Veröffentlichungsdatum <ion-text color="danger">*</ion-text> </ion-label>
            <ion-datetime displayFormat="DD. MMMM YYYY" required formControlName="date"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Initiativtext <ion-text color="danger">*</ion-text> </ion-label>
            <ion-textarea required rows="3" type="text" formControlName="iText" auto-grow="true"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Urheber <ion-text color="danger">*</ion-text></ion-label>
            <ion-textarea required rows="3" type="text" formControlName="urheber" auto-grow="true"></ion-textarea>
          </ion-item>

          
          <ion-list-header >
              <h3>Userdaten</h3>
            </ion-list-header>
          <ion-item>
            <ion-label position="floating">Vorname <ion-text color="danger">*</ion-text> </ion-label>
            <ion-input required formControlName="surname" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nachname <ion-text color="danger">*</ion-text> </ion-label>
            <ion-input required formControlName="name" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Geburtstag <ion-text color="danger">*</ion-text> </ion-label>
            <ion-datetime displayFormat="DD. MMMM YYYY" required formControlName="birthday"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Vollständige Adresse <ion-text color="danger">*</ion-text></ion-label>
            <ion-textarea required rows="1" type="text" formControlName="adress" auto-grow="true"></ion-textarea>
          </ion-item>

          <ion-button block color="tertiary" type="submit" [disabled]="testForm.invalid" shape="round"> PDF Generieren </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
