<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Newsletter</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" fill="clear" color="tertiary">schliessen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="newsletterForm" (ngSubmit)="createRecord()">
    <ion-item>
      <ion-label position="floating">Vorname <ion-text color="danger">*</ion-text> </ion-label>
      <ion-input required formControlName="vorname" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nachname <ion-text color="danger">*</ion-text> </ion-label>
      <ion-input required formControlName="nachname" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text> </ion-label>
      <ion-input required formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Wie hast du uns gefunden?</ion-label>
      <ion-textarea rows="3" type="text" formControlName="funnel" auto-grow="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Ich möchte Testperson sein*</ion-label>
      <ion-toggle color="tertiary" formControlName="testuser" type="boolean"></ion-toggle>
    </ion-item>

    <ion-button class="ion-margin" color="tertiary" type="submit" [disabled]="newsletterForm.invalid" shape="round"> Anmelden </ion-button>

    <p class="tooltip">
      * Wir sind interessiert an deiner Meinung! Als Testperson erhältst du Einblick in unsere aktuellen und meist noch unveröffentlichten Entwicklungsschritte
      und prägst damit E-Collecting in der Schweiz mit.
    </p>
  </form>
</ion-content>
