

<div style="padding-top: 10px" >
  <ion-button (click)="close()" fill="clear" color="blue">
      <ion-icon slot="icon-only"  name="close-circle-outline"></ion-icon>
    </ion-button>
</div>

<div id="newsletterFormCSS">
  <ion-grid >
    <ion-row>
      <ion-col size="12">
          <h1>Für Newsletter anmelden</h1>
      </ion-col>
    </ion-row>
    <ion-row style="text-align:center">
      <ion-col size="12" class="ion-align-self-center">

          <form [formGroup]="newsletterForm" (ngSubmit)="createRecord()">
              <ion-item>
                <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
                <ion-input required formControlName="email" type="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Name <ion-text color="danger">*</ion-text></ion-label>
                <ion-input required formControlName="name" type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Wie hast du uns gefunden?</ion-label>
                <ion-textarea type="text" formControlName="funnel" auto-grow="true"></ion-textarea>
              </ion-item>
              <ion-button block color="blue" type="submit" [disabled]="newsletterForm.invalid" shape="round">
                Bestätigen
              </ion-button>
            </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</div>


