//general
ion-slides {
    height: 80Vh;
}
#navToolbar {
    position: fixed;
    bottom: 0;
}
//navButtons
.navButtonLeft {
    position: absolute;
    bottom: 50vh;
    left: 20px;
    z-index: 10;
    transition: 0.5s;
}
.navButtonRight {
    position: absolute;
    bottom: 50vh;
    right: 20px;
    z-index: 10;
    transition: 0.5s;
}

//grid
ion-grid {
    padding-left: 10%;
    padding-right: 10%;
}

//input CSS
ion-input {
    font-size: 2rem;
    font-weight: bold;
}
.goalInput {
    font-size: 1rem;
    font-weight: normal;
}
ion-select {
    font-size: 1.5rem;
    font-weight: bold;
}
ion-textarea {
    --background: #rgba(0,0,0,0.15);
    text-align: left;
    padding: 10px;
}
.slide-textarea {
    overflow-y: scroll; display: block;
}
ion-datetime {
    font-size: 2rem;
    font-weight: bold;
    
}
form {
    overflow-y: hidden;
}

@media (max-width: 768px) {
    .navButtonLeft {
        bottom: 0;
    }
    .navButtonRight {
        bottom: 0;
    }
    ion-slides {
        height: 90Vh;
    }

    ion-input {
        font-size: 1rem;
    }
    ion-datetime {
        font-size: 1rem;
    }
    ion-grid {
        padding: 20px;
    }
}