/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300&family=Permanent+Marker&display=swap");

:host {
  //General Font Size
  font-size: 20px;
}

* {
  font-family: "Lato", sans-serif !important;
}

ion-toolbar {
  --padding-start: 10%;
  --padding-end: 10%;
  z-index: 10;
}

ion-title {
  padding: 0px;
}

ion-grid {
  --ion-grid-padding: 10%;
  padding-top: 50px !important;
}

// Owlly specific SCSS

.owlly-linear-gradient {
  background: linear-gradient(155deg, var(--ion-color-primary) 0%, var(--ion-color-secondary));
}

.owlly-hero {
  h1 {
    font-weight: bold;
    color: #ffffff;
  }
  h3 {
    color: #000000;
    font-weight: 400;
  }

  @media (max-width: 768px) {
    h1 {
    font-size: 2rem;
    text-align: center;
    }
  }
}

.owl-footer {
  width: 300px;
  position: relative;
  bottom: 180px;
  right: 10%;
  z-index: 100;

  @media (max-width: 768px) {
    width: 100px;
    bottom: 25px;
  }
}

// Font specifications

h1 {
  font-size: 4rem;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-weight: 200;
}

h3 {
  font-weight: bold;
}


// miscellaneous classes

.transition {
  transition: 1s;
}

/*tooltips*/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 100;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
