<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      owlly
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">owlly</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>owlly enables the secure and easy electronic signing, validation and counting of popular initiatives and referendums for campaign platforms and offers a holistic e-collecting approach for Switzerland.</strong>
    <!--<p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>-->
  </div>
</ion-content>
